#########################################################################
# Inspired by :: https://github.com/Prutsium/3D-Druckerplausch-Klipper   #
#                                                                       #
# Put this file in the Raspberry Pi folder:: /home/pi/printer.cfg       #
#########################################################################

# Mainsail Settings
[include mainsail.cfg]

# Load the Main Klipper Config Script, 
[include klipper.cfg]

#[gcode_macro M600]
#description: Filament change
#gcode: PAUSE X=10 Y=10 Z_MIN=50

## That will park your head front left with a minimum height of 50mm above the bed. If your head
## is already above 50mm it will use only the z_hop specified with dz.

# Bottom part is autogenarated by 
# PID_CALIBRATE HEATER=extruder TARGET=210
# PID_CALIBRATE HEATER=heater_bed TARGET=210

# BED_MESH_CALIBRATE 
# https://www.klipper3d.org/G-Codes.html?h=bed_mesh_calibrate#bed_mesh_calibrate

# PROBE_CALIBRATE 
# https://www.klipper3d.org/G-Codes.html?h=probe#probe_calibrate

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.329
#*# pid_ki = 2.862
#*# pid_kd = 56.040
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 51.907
#*# pid_ki = 0.709
#*# pid_kd = 949.890
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.138750, -0.172500, -0.118750, -0.048750, -0.077500
#*# 	-0.121250, -0.122500, -0.041250, -0.068750, -0.056250
#*# 	-0.207500, -0.117500, -0.123750, -0.080000, -0.110000
#*# tension = 0.2
#*# min_x = 35.0
#*# algo = bicubic
#*# y_count = 3
#*# mesh_y_pps = 3
#*# min_y = 15.0
#*# x_count = 5
#*# max_y = 198.0
#*# mesh_x_pps = 2
#*# max_x = 230.0
#*#
#*# [bltouch]
#*# z_offset = 0.385
