#####################################################################
#   General Macros
#####################################################################

[gcode_macro DUMP_VARIABLES]
description: Dump all the printer variables, filter 
gcode:
    {% set filter_name = params.NAME|default('')|string|lower %}
    {% set filter_value = params.VALUE|default('')|string|lower %}
    {% set show_cfg = params.SHOW_CFG|default(0)|int %}
    
    {% set out = [] %}

    {% for key1 in printer %}
        {% for key2 in printer[key1] %}
            {% if (show_cfg or not (key1|lower == 'configfile' and key2|lower in ['config', 'settings'])) and (filter_name in key1|lower or filter_name in key2|lower) and filter_value in printer[key1][key2]|string|lower %}
                {% set dummy = out.append("printer['%s'].%s = %s" % (key1, key2, printer[key1][key2])) %}
            {% endif %}
        {% else %}
            {% if filter_name in key1|lower and filter_value in printer[key1]|string|lower %}
                {% set dummy = out.append("printer['%s'] = %s" % (key1, printer[key1])) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    {action_respond_info(out|join("\n"))}

[gcode_macro G29]
description: G29 - BED_MESH_CALIBRATE compatibality for Marlin
gcode:
    BED_MESH_CALIBRATE

[gcode_macro ADD_BED_MESH]
gcode:
    {% set TARGET_TEMP = params.TARGET_TEMP|default(70)|int %}
    M190 S{TARGET_TEMP} # Wait for the bed to hit TARGET_TEMP
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE={TARGET_TEMP}
    SAVE_CONFIG   
 
[gcode_macro UP]
description: Move 100mm UP
gcode:
    G1 Z100 F1500

[gcode_macro M600]
variable_extr_temp: 0
gcode:
    {% set X = params.X|default(100)|int %}
    {% set Y = params.Y|default(0)|int %}
    {% set Z = params.Z|default(10)|int %}
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000

[gcode_macro _CHECK_HOME]
gcode:
  M117

##  Clear display after Duration  
[delayed_gcode CLEAR_DISPLAY]
initial_duration: 5.
gcode:
    M117

