#  BigTreeTech SKR PRO version
#
# This file contains common pin mappings for the BigTreeTech SKR PRO.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR PRO. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR PRO
# with that SD card.

########################################
# Printer Information
########################################

#####################################################################
#   Pin Mapping
#####################################################################
[include pins.cfg]		#  Pin map

#####################################################################
#   Printer Type
#####################################################################
[printer]
kinematics: cartesian
max_velocity: 300
#Normal Accel
max_accel: 1200
#max_accel: 3000
#For Resonance Test
#max_accel: 10000
#max_accel_to_decel: 10000
max_z_velocity: 10
max_z_accel: 200

[tmc2209 extruder]
uart_pin: e0_uart_pin
diag_pin: e0_diag_pin
#stealthchop_threshold: 0
#stealthchop_threshold: 5			#Disable stealthchop to decrease extruder temp and prevent skipping
interpolate: false					#Interpolation does not improve extrusion
run_current: 0.750
sense_resistor: 0.110


########################################
# Steppers
########################################

[stepper_x] 
microsteps: 32
rotation_distance: 32 # 100 steps/mm
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 254
position_min: 0 
position_max: 254
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: x_uart_pin
diag_pin: x_diag_pin
interpolate: false
sense_resistor: 0.110
run_current: 0.800 
#stealthchop_threshold: 999999 
# 255 is most sensitive value, 0 is least sensitive
driver_SGTHRS: 80  

[stepper_y]
microsteps: 16 # 16
rotation_distance: 32 # 100 steps/mm
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: -6
position_min: -6
position_max: 212
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: y_uart_pin
diag_pin: y_diag_pin
interpolate: false
sense_resistor: 0.110
run_current: 0.828
#stealthchop_threshold: 999999
# driver_SGTHRS: 130
driver_SGTHRS: 60  

[stepper_z]
microsteps: 64
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -0.5
position_max: 210
homing_speed: 10

[tmc2209 stepper_z]
uart_pin: z_uart_pin
diag_pin: z_diag_pin
sense_resistor: 0.110
run_current: 0.828 
stealthchop_threshold: 999999

# ########################################
# # Input Shaper
# ########################################

# #[input_shaper]
# #shaper_freq_x: 111
# #shaper_freq_y: 104
# #shaper_type: mzv
# #damping_ratio_x: 0.1
# #damping_ratio_y: 0.1

########################################
# Heated Bed
########################################

[heater_bed]
heater_pin: heatbed_pin
sensor_pin: T0_pin 
sensor_type: EPCOS 100K B57560G104F

min_temp: 0
max_temp: 100

########################################
# Fans
########################################

[fan] 
pin: fan0_pin

# [heatef_fan hotend_fan]
# hotwired, always on

[controller_fan steppers_fan]
pin:fan2_pin
fan_speed: 0.6
idle_timeout: 10
idle_speed: 0.4
stepper: stepper_x, stepper_y

# ########################################
# # Filament Runout Sensor
# ########################################

# [filament_switch_sensor fsensor]
# pause_on_runout: True
# runout_gcode:
 # M118 Filament Runout Detected
 # M600
# insert_gcode:
 # M118 Filament Load Detected
 # LOAD_FILAMENT
# event_delay: 3.0
# # If you have issues with movement after the runout_gcode executes
# # you may increase the pause_delay.  It should be noted that this
# # is a workaround for an issue with how Octoprint handles
# # acknowledgments.  This issue is schedule to be fixed in the next
# # release, after which the "pause_delay" option will likely be removed.
# pause_delay: 0.01
# switch_pin: !P1.26



# ########################################
# # Z Align
# ########################################

# [z_tilt]
# z_positions:
  # -37,105
  # 289,105
# points:
  # 0,105
  # 195,105
# speed: 80
# horizontal_move_z: 5
# retries: 5
# retry_tolerance: 0.01


