#  BigTreeTech SKR PRO version
#
# This file contains common pin mappings for the BigTreeTech SKR PRO.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR PRO. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR PRO
# with that SD card.

########################################
# Printer Control Board
########################################

#####################################################################
#   MCU Settings
#####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_2A004C000E504D5347343820-if00

#####################################################################
#   Pin Mapping
#####################################################################
[include pins.cfg]		#  Pin map
